.navbar {
  border: none;
  height: 100px;
  background-color: white;
  font-family: 'Cinzel Decorative', cursive;
}

a.navbar-left{
  margin-left: 10%;
}

a.navbar-right{
  margin-right: 10%;
}

a.navbar-left, a.navbar-right {
  color: black;
  font-size: 2em;
  line-height: 100px;
}

a.navbar-left:hover, a.navbar-right:hover {
  text-decoration: none;
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
  color: black;
  font-size: 4em;
  line-height: 100px;
}

.col1, .col2, .col3, .col4{
  text-align: center;
  min-width: 17%;
  max-width: 17%;
  min-height: 183px;
  margin-bottom: 2px;
  border: 1px solid black;
}

.col1 {
    margin-left: 16%;
}

.col2, .col3, .col4 {
  margin-left: 2px;
}

#block1 {
  background-image: "/Users/jordy_williams14/Desktop/knotvisual/public/imgs/29.jpg";
}

#block3 {

}


.designed {
  background-color: #336699;
}

.interior {
  background-color: #FFCC66;
}

.decorative{
  background-color: #003366;
}

.desc {
  color: white;
  text-align: center;
  font-size: 1em;
  min-width: 100%;
  min-height: 10px;
  margin-bottom: 3%;
  margin-top: 96%;
}

footer {
  text-align: center;
}