.navbar {
  border: none;
  height: 100px;
  background-color: white;
  font-family: 'Cinzel Decorative', cursive;
}

a.navbar-left{
  margin-left: 12%;
}

a.navbar-right{
  margin-right: 15%;
}

a.navbar-left, a.navbar-right {
  color: black;
  font-size: 2em;
  line-height: 100px
}

a.navbar-left:hover, a.navbar-right:hover {
  text-decoration: none;
}
.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
.navbar-brand {
  float:none;
  color: black;
  font-size: 4em;
  line-height: 100px
}

.block {
  text-align: center;
  background-color: red;
  min-width: 20%;
  max-width: 20%;
  min-height: 200px;
  margin-left: 4%;
  margin-bottom: 60px;
}

.desc {
  text-align: center;
  background-color: white;
  min-width: 100%;
  min-height: 20px;
  margin-bottom: 4%;
  margin-top: 96%;
}
