<nav class="navbar" role="navigation">
  <div class="navbar-header">
    <ul>
      <li><a href="#" data-featherlight="#contact" class="navbar-left">Contact</a></li>
      <li><h1 class="navbar-brand">KNOT  VISUAL</h1></li>
      <li><a href="#" data-featherlight="#about" class="navbar-right">About</a></li>
    </ul>
  </div>
</nav>