<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-left" href="/contact">Contact</a>
    <a class="navbar-brand" href="/">KNOT VISUAL</a>
    <a class="navbar-right" href="/about">About</a>
  </div>
</nav>