<div class="container-fluid">
  <div class="row">
    <div id="block1" class="col-md-3 col1 block1"><div class="col-md-3 desc designed">That's a baby Groot.</div></div>

    <div id="block2" class="col-md-3 col2 decorative"></div>

    <div id="block3" class="col-md-3 col3 designed"><div class="col-md-3 desc interior">And this is Rocket</div></div>

    <div id="block4" class="col-md-3 col4 interior"></div>

  </div>
  <div class="row">
    <div id="block5" class="col-md-3 col1 decorative"></div>

    <div id="block6" class="col-md-3 col2 interior"></div>

    <div id="block7" class="col-md-3 col3 decorative"></div>

    <div id="block8" class="col-md-3 col4 designed"></div>

  </div>
  <div class="row">
    <div id="block9" class="col-md-3 col1 interior"></div>

    <div id="block10" class="col-md-3 col2 interior"></div>

    <div id="block11" class="col-md-3 col3 designed"></div>

    <div id="block12" class="col-md-3 col4 decorative"></div>

  </div>
</div>