<div class="container-fluid">
  <div class="row">
    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/29.jpg" class="gallery1"><div id="block1" class="col-md-3 col1"><div id="desc1" class="col-md-3 desc designed">Short Description</div></div></a>

    <div id="block2" class="col-md-3 col2 designed"></div>

    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/Bardesign2_2.jpg" class="gallery2"><div id="block3" class="col-md-3 col3 designed"><div id="desc2" class="col-md-3 desc interior">Short description</div></div></a>

    <div id="block4" class="col-md-3 col4 interior"></div>

  </div>
  <div class="row">
    <div id="block5" class="col-md-3 col1 decorative"></div>

    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/coffeetable1.jpg" class="gallery3"><div id="block6" class="col-md-3 col2 interior"><div id="desc3" class="col-md-3 desc interior">Short description</div></div></a>

    <div id="block7" class="col-md-3 col3 designed"></div>

    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/DSC00640.JPG" class="gallery4"><div id="block8" class="col-md-3 col4 designed"><div id="desc4" class="col-md-3 desc decorative">Short description</div></div></a>

  </div>
  <div class="row">
    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/IMG00035.jpg" class="gallery5"><div id="block9" class="col-md-3 col1 interior"><div id="desc5" class="col-md-3 desc decorative">Short description</div></div></a>

    <div id="block10" class="col-md-3 col2 interior"></div>

    <a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/Madison%20Cafe2.jpg" class="gallery6"><div id="block11" class="col-md-3 col3 designed"><div id="desc6" class="col-md-3 desc designed">Short description</div></div></a>

    <div id="block12" class="col-md-3 col4 decorative"></div>
  </div>
</div>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/Bardesign2.jpg" class="gallery2"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/coffeetable2.jpg" class="gallery3"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/DSC00830.JPG" class="gallery4"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/IMG00046.jpg" class="gallery5"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/IMG00048.jpg" class="gallery5"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/IMG00090.jpg" class="gallery5"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/IMG00097.jpg" class="gallery5"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/Madison%20Cafe2_2.jpg" class="gallery6"></a>
<a href="https://raw.githubusercontent.com/wiliajc87/knotvisual/master/public/imgs/Madison%20Cafe2_3.jpg" class="gallery6"></a>